
/* Footer */

.footer {
    background-image: linear-gradient(to bottom, #7d7ec278, $colorPrincipal); 
    height: 100%;
    @include contenidoCentrado;
}

.footer__informacion {
    padding: 1rem;

    li {
        margin-top: 1rem;
        list-style-type: none;
        font-size: 1.2rem;
    }

    p {
        font-size: 1.2rem;
    }

    img {
        width: 100px;
        height: 100px;
    }
}

.footer__contacto {
    @include contenidoCentrado;

    img {
        width: 25px;
        height: 25px;
        margin-right: 1rem;
    }
}