/* Encabezado */

.fondoHeader {
    background-image: url(../img/fondoHeader.png);
    background-position: left bottom;
    width: 100%;

    .navbar-brand {
        color: $colorSecundario;
    }
}

.fondoOpaco{
    background-color: #00000050;
    width: 100%;
}

.menu {
    font-family: $font-family;
    width: 100%;
    position: fixed;
    background-color: $colorPrincipal;
    z-index: 2;
    padding: 0;

    .menu__items {
        margin-bottom: 0;
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        margin: 0;

        li {
            height: 100%;
            padding: 0.5rem;

            a{
                font-size: 1.3rem;
                color: white;
                text-decoration: none;
                text-align: center;
                padding: 0 1rem;
                
            }
        }

        li:hover {
            background-color: $colorSecundario;
            text-decoration: none;
            border-radius: 1rem;
            text-align: center;
        }
    }
}

.logoHeader {
    padding-top: 2rem + 2rem;
    width: 50vh;
}