
/* Seccion Productos Destacados */

$fondo: blanco;

.alinearSeccion {
   @include contenidoCentrado;
    flex-wrap: wrap;
    padding-top: 4rem;
    img {
        width: 100%;
    }
}

.productosDestacados {
            // EJEMPLO CONDICIONAL IF //
    @if ($fondo == gris) {
        background-color: rgb(200, 198, 198);              
    }   @else if ($fondo == blanco) {
        background-color: white;
    }   @else {
        background-color: $colorPrincipal;
    }

    display: flex;
    flex-direction: column;
    border: solid $colorPrincipal;
    margin: 1rem;
    transition: all 0.5s;
    padding-right: 0;

    img {
        padding: 0.5rem;
        position: relative;
        width: 100%;
    }
}

.productosDestacados:hover {
    position: relative;
    transform: scale(1.1);
    margin: 0, 1rem;
}

.productosDestacados__productos {
    text-align: center;

    li {
        text-align: left;
        list-style-type: none;
        font-family: $font-family;
    }
}

/* Seccion Aromaterapia */

.aromaterapia__imagenes {
    margin-top: 6rem;
    width: 100%;

    img {
        width: 500px;
        height: 600px;
    }
}

.aromaterapia {

    p {
        font-family: $font-family;
        border: 1px solid $colorPrincipal;
        border-radius: .25rem;
        border-width: 0.3rem;
        margin: 2rem;
        padding: 2rem;
        background-color: white;
    }
}


/* Novedades */

.novedades {
    
    padding-bottom: 2rem;
}

.novedades__contenido {
    padding-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    p {
        padding-left: 1rem;
        font-family: $font-family;
        font-size: 1.5rem;
        font-weight: 500;
    }

    ul {
        
        li {
        margin-left: 2rem;
        font-family: $font-family;
        margin-top: 2rem;
        }
    }

    video {
        width: 450px;
    }
}
