/* Page Preguntas Frecuentes */

.preguntasFrecuentes {
    
    ul {
        background-image: url(../img/fondopreguntasf.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 6rem;
        margin-bottom: 0;
        margin-top: 4rem;

        li{
            list-style: none;
            font-family: $font-family;
            font-weight: 600;
            font-size: 1.2rem; 
            padding: 2rem;
        }

        .dropdown button {
            background-color: rgba(0,0,0,0.38);
            border: none;
            color: white;
            font-weight: 600;
        }
        .dropdown .dropdown-menu {
            background-color: rgba(0,0,0,0.38);
            color: white;
            border: none;
            margin: 0;
            padding: 0;

            .dropdown-item {
                color: white;
                font-weight: 600;
                font-size: 1.2rem;
                margin: 0;
            }

            .dropdown-item:hover {
                background-color: inherit;
            }
        }
    }
}
