/* Page Productos */

.container {
    .productosDestacados {
        img {
            width: 100%;
        }

    }

   
}

/* Tabla de productos*/

.productoTabla {
    background-color: rgb(48, 148, 48);
}

th {
    font-weight: 900;
    font-size: 25px;
    background-color: darksalmon;
}

td {
    background-color: rgb(143, 188, 143);
}

.tabla {
    
    li {
    list-style: none;
    }
}
