/* Page Productos */

.container {
    .productosDestacados {
        img {
            width: 100%;
        }
    }
}

/* Tabla de productos*/

.productoTabla {
    background-color: $colorPrincipal;
    border: solid;
    text-align: center;
    padding: 1rem;
}

th {
    border: solid;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    background-color: $colorPrincipal;
    
}

td {
    font-weight: 700;
    text-align: center;
    border: solid;
    background-color: $colorSecundario;
}

.tabla {
    width: 100%;
        li {
            list-style: none;
        }

        table {
            margin: 2rem;
        }
}


