/* Page Productos */

.catalogoProductos {
    padding-top: 1rem;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "lumbar cervical baby"
                        "combo mantalmohadon mantaPeso"
    
}

.lumbar {
    grid-area: lumbar;
}
.cervical {
    grid-area: cervical;
}
.baby {
    grid-area: baby;
}
.combo {
    grid-area: combo;
}
.mantalmohadon {
    grid-area: mantalmohadon;
}
.mantaPeso {
    grid-area: mantaPeso;
}

/* Tabla de productos*/

.productoTabla {
    background-color: $colorPrincipal;
    border: solid;
    text-align: center;
}

th {
    border: solid;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    background-color: $colorPrincipal;
    
}

td {
    font-weight: 700;
    text-align: center;
    border: solid;
    background-color: $colorSecundario;
}

.tabla {

    li {
    list-style: none;
    }
}
