// COLORES //
$colorPrincipal: #7d7ec2e6;
$colorSecundario: #b3d26d;

// FUENTES //
$font-family: 'Montserrat', sans-serif;

// CONTENEDOR //

@mixin contenidoCentrado {
    display: flex;
    justify-content: space-around;
    align-items: center;
}




