* {
  margin: 0;
  padding: 0; }

/* Encabezado */
.fondoHeader {
  background-image: url(../img/fondoHeader.png);
  background-position: left bottom;
  width: 100%;
  height: 600px; }
  .fondoHeader .navbar-brand {
    color: #b3d26d;
    padding: 0 0.5rem;
    margin: 0; }

.fondoOpaco {
  background: rgba(0, 0, 0, 0.38);
  height: 100%; }

.menu {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  position: fixed;
  background-color: #7d7ec2e6;
  z-index: 2;
  padding: 0; }
  .menu .menu__items {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0; }
    .menu .menu__items li {
      height: 100%;
      padding: 0.5rem;
      margin: 0; }
      .menu .menu__items li a {
        font-size: 1.3rem;
        color: white;
        text-decoration: none;
        text-align: center;
        padding: 0 1rem; }
    .menu .menu__items li a:hover {
      color: black; }

.logoHeader {
  padding-top: 4rem;
  width: 50vh; }

/* Seccion Productos Destacados */
.alinearSeccion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 4rem; }
  .alinearSeccion img {
    width: 100%; }

.productosDestacados {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: solid #7d7ec2e6;
  margin: 1rem;
  transition: all 0.5s;
  padding-right: 0; }
  .productosDestacados img {
    padding: 0.5rem;
    position: relative;
    width: 100%; }

.productosDestacados:hover {
  position: relative;
  transform: scale(1.1);
  margin: 0, 1rem; }

.productosDestacados__productos {
  text-align: center; }
  .productosDestacados__productos li {
    text-align: left;
    list-style-type: none;
    font-family: "Montserrat", sans-serif; }

/* Seccion Aromaterapia */
.aromaterapia__imagenes {
  margin-top: 6rem;
  width: 100%; }
  .aromaterapia__imagenes img {
    width: 500px;
    height: 600px; }

.aromaterapia p {
  font-family: "Montserrat", sans-serif;
  border-style: solid;
  border-radius: 2rem;
  border-width: 0.3rem;
  margin: 2rem;
  padding: 2rem;
  background-color: rgba(170, 169, 169, 0.7); }

/* Novedades */
.novedades {
  padding-bottom: 2rem; }

.novedades__contenido {
  padding-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .novedades__contenido p {
    padding-left: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 500; }
  .novedades__contenido ul li {
    margin-left: 2rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem; }
  .novedades__contenido video {
    width: 450px; }

/* Globales */
main {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #b3d26d, #b3d26d75); }

img {
  width: 500  px;
  height: 300px; }

h1 {
  font-size: 4rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 900; }

h2 {
  color: white;
  background-color: #7d7ec2e6;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  position: relative;
  top: 4rem; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center; }

p {
  padding: 2rem;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif; }

span {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: white; }

.boton {
  background-color: #7d7ec2e6;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
  border-style: none;
  border-radius: 1rem;
  text-align: center; }

.boton:hover {
  cursor: pointer;
  background-color: rgba(75, 76, 144, 0.901961); }

.alinearContenido {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }

/* Footer */
.footer {
  background-image: linear-gradient(to bottom, #7d7ec278, #7d7ec2e6);
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footer__informacion {
  padding: 1rem; }
  .footer__informacion li {
    margin-top: 1rem;
    list-style-type: none;
    font-size: 1.2rem; }
  .footer__informacion p {
    font-size: 1.2rem; }
  .footer__informacion img {
    width: 100px;
    height: 100px; }

.footer__contacto {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer__contacto img {
    width: 25px;
    height: 25px;
    margin-right: 1rem; }

/* Page Productos */
.container {
  padding-top: 4rem;
  padding-left: 0; }
  .container .productosDestacados {
    padding-left: 0; }
    .container .productosDestacados img {
      width: 100%; }

/* Tabla de productos*/
.productoTabla {
  background-color: #7d7ec2e6;
  border: solid;
  text-align: center;
  padding: 1rem; }

th {
  border: solid;
  text-align: center;
  font-weight: 900;
  font-size: 25px;
  background-color: #7d7ec2e6; }

td {
  font-weight: 700;
  text-align: center;
  border: solid;
  background-color: #b3d26d; }

.tabla {
  width: 100%; }
  .tabla li {
    list-style: none; }
  .tabla table {
    margin: 6rem 2rem 0 2rem;
    padding-bottom: 2rem;
    border-collapse: inherit; }

/* Page Nosotros */
.seccionNosotros {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 4rem;
  background-color: white;
  width: 100%; }
  .seccionNosotros h3 {
    font-size: 1.5rem;
    font-weight: 500; }

.seccionNosotros__lista {
  padding-top: 5rem;
  border-right: solid 1px;
  margin-right: 2rem; }
  .seccionNosotros__lista ul {
    padding: 2rem; }
    .seccionNosotros__lista ul li {
      padding-top: 2rem;
      text-align: justify;
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      font-weight: 500; }
  .seccionNosotros__lista p {
    text-align: left; }
  .seccionNosotros__lista video {
    width: 100%;
    height: 100%; }

.seccionNosotros__comedor {
  padding: 4rem;
  margin-top: 4rem; }

.ubicacion {
  padding-bottom: 2rem; }
  .ubicacion h3 {
    font-size: 1.5rem; }
  .ubicacion h2 {
    margin-bottom: 4rem; }

.ubicacion__Mapas {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  padding-top: 2rem; }

.ubicacion__bordes {
  background-color: white; }
  .ubicacion__bordes .ubicacion__ubicacionBa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem; }
    .ubicacion__bordes .ubicacion__ubicacionBa h3 {
      align-items: center; }
  .ubicacion__bordes .ubicacion__ubicacionSe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem; }

h2 {
  background-color: #7d7ec2; }

/* Page Contacto */
form {
  font-family: "Montserrat", sans-serif;
  padding: 2rem; }

input {
  transition: all 1s;
  width: 150px;
  height: 20px; }

input:focus {
  width: 200px;
  height: 30px; }

/* Page Preguntas Frecuentes */
.preguntasFrecuentes ul {
  background-image: url(../img/fondopreguntasf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 6rem;
  margin-bottom: 0;
  margin-top: 4rem; }
  .preguntasFrecuentes ul li {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 2rem; }
  .preguntasFrecuentes ul .dropdown button {
    background-color: rgba(0, 0, 0, 0.38);
    border: none;
    color: white;
    font-weight: 600; }
  .preguntasFrecuentes ul .dropdown .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.38);
    color: white;
    border: none;
    margin: 0;
    padding: 0; }
    .preguntasFrecuentes ul .dropdown .dropdown-menu .dropdown-item {
      color: white;
      font-weight: 600;
      font-size: 1.2rem;
      margin: 0; }
    .preguntasFrecuentes ul .dropdown .dropdown-menu .dropdown-item:hover {
      background-color: inherit; }

/* Media Queries */
@media only screen and (max-width: 990px) {
  .menu {
    width: auto;
    position: inherit; }
  .menu__items {
    flex-direction: column;
    align-items: flex-end; }
  .logoHeader {
    display: none; }
  h1, span {
    text-align: center;
    padding: 0.5rem;
    width: 100%; }
  h1 {
    font-size: 3.5rem; }
  span {
    display: inline-block;
    font-size: 1.5rem; }
  .alinearSeccion {
    flex-wrap: wrap; }
  .footer {
    flex-direction: column; }
  .aromaterapia__imagenes {
    width: 100%; }
    .aromaterapia__imagenes img {
      padding: 1rem 2rem;
      margin: auto;
      width: 100%;
      height: 350px; }
  .novedades__contenido {
    flex-direction: column; }
    .novedades__contenido video {
      width: 100%; }
  h2 {
    font-size: 2rem; }
  .tabla {
    display: none; }
  .seccionNosotros__lista {
    border: none; }
  .seccionNosotros__comedor {
    display: none; }
  .ubicacion__Mapas {
    flex-direction: column;
    justify-content: space-around; }
  .preguntasFrecuentes ul {
    width: 100%;
    text-align: center;
    padding: 0; }
    .preguntasFrecuentes ul li {
      padding: 2rem 0; }
      .preguntasFrecuentes ul li button {
        width: 100%; }
        .preguntasFrecuentes ul li button p {
          width: 100%;
          font-size: 8px;
          font-weight: 500; } }

@media only screen and (max-width: 720px) {
  .aromaterapia__imagenes {
    display: flex;
    flex-direction: column; }
    .aromaterapia__imagenes img {
      width: 100%; }
  .novedades__contenido {
    flex-direction: column; }
  .table {
    width: 100%; } }
